html, body {
  color: #323133;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
}

#content {
  flex: 1;
}

footer {
    height: 80px;
    border-top: 1px solid #999;
    background: #eee;
    text-align: center;
    padding-top: 25px;
}

a.navbar-brand {
  height: 50px;
  width: 200px;
  display: inline-block;
  background: transparent url('../img/logo.png') no-repeat 50% 50% / contain;
}

.panel.panel-post .panel-body {
    padding: 0;
}
.panel.panel-post .panel-body img {
    width: 100%;
}


.img-avatar {
  max-width: 50px;
  max-height: 50px;
}
