body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#content {
  flex: 1;
}

footer {
    height: 80px;
    border-top: 1px solid #999;
    background: #eee;
    text-align: center;
    padding-top: 25px;
}

.panel.panel-post .panel-body {
    padding: 0;
}
.panel.panel-post .panel-body img {
    width: 100%;
}
