html, body {
  color: #323133;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
}

#content {
  flex: 1;
}

footer {
    height: 80px;
    border-top: 1px solid #999;
    background: #eee;
    text-align: center;
    padding-top: 25px;
}

a.navbar-brand {
  height: 50px;
  width: 200px;
  display: inline-block;
  background: transparent url('../img/logo.png') no-repeat 50% 50% / contain;
}

.panel.panel-post .panel-body {
    padding: 0;
}
.panel.panel-post .panel-body img {
    width: 100%;
}


.img-avatar {
  max-width: 50px;
  max-height: 50px;
}

.navbar,
.navbar-collapse {
  background-color: #fff;
}

.navbar {
  border: none;
}

.panel-default .panel-heading {
  color: #323133;
  background-color: #F5F7FA;
  border-color: #E6E9ED;
}

.panel-footer {
    background-color: #F5F7FA;
    border-top: 1px solid #E6E9ED;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.photo-comment {
  margin-bottom: 0;
}

.like-button {
  cursor: pointer;
}

.liked_photo {
  color: #BF263C;
}
