{% load staticfiles %}
{% include 'instaapp/includes/head.html' %}
{% include 'instaapp/includes/nav.html' %}
<div id="content" class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Feed</h1>
        {% if photos %}
            {% for photo in photos %}
                <div class="panel panel-default panel-post">
                    <div class="panel-heading">
                        {% if photo.owner.member.image.url %}
                            <img
                                src="{{ MEDIA_URL }}{{photo.owner.member.image.url}}"
                                alt="avatar"
                                class="img-avatar img-thumbnail">
                        {% else %}
                            <img
                                src="{% static "instaapp/img/profile-picture-placeholder.png" %}"
                                alt="dp"
                                class="img-avatar img-thumbnail">
                        {% endif %}
                        <span class="panel-title">{{photo.owner.username}}</span>
                        <span class="pull-right">{{photo.created|timesince}}</span>
                        <p>{{photo.member}}</p>
                    </div>
                    <div class="panel-body">
                        <img src="{{ MEDIA_URL }}{{photo.image.url}}" alt="post" />
                    </div>
                    <div class="panel-footer">
                        <p><strong>999</strong> likes</p>
                        <p>
                            <strong>{{photo.owner.username}}</strong>
                            &nbsp;{{photo.caption}}
                        </p>
                        <hr />
                        <div class="input-group input-group-sm">
                            {# Like photo button #}
                            <span class="input-group-addon" id="sizing-addon3">
                                <span class="glyphicon glyphicon-heart"></span>
                            </span>

                            {# Comment text box #}
                            <form
                                method="post"
                                action="{% url 'instaapp:post_photo_comment' %}"
                                class="comment-form">
                            {% csrf_token %}
                                <input
                                    type="hidden"
                                    name="photo_id"
                                    value="{{photo.id}}" />
                                <input
                                    name="comment_text"
                                    type="text"
                                    class="form-control"
                                    placeholder="Say something..."
                                    aria-describedby="sizing-addon3" />
                            </form>

                            {# Options dropdown #}
                            <div class="input-group-btn">
                                <button
                                type="button"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                    <span
                                    class="pull-right glyphicon glyphicon-option-horizontal"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info">
                You are not following any users. <a href="{% url 'instaapp:users' %}">Follow</a> users to view photos.
            </div>
        {% endif %}

    </div>

</div>
{% include 'instaapp/includes/foot.html' %}
<script src="{% static "instaapp/js/follow.js" %}"></script>
<script src="{% static "instaapp/js/jquery.form.min.js" %}"></script>
<script>

    var comment_form_opts = {
        success: comment_response
    }
    $('.comment-form').on('submit', function(e) {
        console.log($(this));
        $(this).ajaxSubmit(comment_form_opts);
        return false;
    });
    function comment_response(responseText, statusText, xhr, $form) {
        console.log(responseText);
    }
</script>
