{% load staticfiles %}
{% include 'instaapp/includes/head.html' %}
{% include 'instaapp/includes/nav.html' %}
<div id="content" class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Search Results</h1>
        {% for user in results %}
            <div class="well user-card">
                {% if user.member.image.url %}
                    <img
                        src="{{ MEDIA_URL }}{{user.member.image.url}}"
                        alt="{{user.username}}"
                        class="img-avatar img-thumbnail" />
                {% else %}
                    <img
                        src="{% static "instaapp/img/profile-picture-placeholder.png" %}"
                        alt="dp"
                        class="img-avatar img-thumbnail">
                {% endif %}
                <span>
                    <strong>{{user.first_name}} {{user.last_name}}</strong> <small>@{{user.username}}</small>
                </span>

                {% if user.id in followlist %}
                    <button class="btn btn-success disabled pull-right">
                        <span class="glyphicon glyphicon-ok"></span>
                        Followed
                    </button>
                {% else %}
                    <button
                        class="btn btn-success pull-right btn-follow"
                        data-user="{{user.id}}">
                        <span class="glyphicon glyphicon-plus"></span>
                        Follow
                    </button>
                {% endif %}
            </div>
        {% endfor %}
    </div>

</div>

<div id="notLoggedInModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>You are not logged in.</p>
                <p>To follow this user, login <a href="{% url 'instaapp:user_login' %}">here</a></p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% include 'instaapp/includes/foot.html' %}
<script src="{% static "instaapp/js/follow.js" %}"></script>
