{% load staticfiles %}
{% include 'instaapp/includes/head.html' %}
{% include 'instaapp/includes/nav.html' %}
<div id="content" class="container">
    <div class="col-sm-6 col-sm-offset-3 users-list">
        <h1>Users that you Follow</h1>
        {% for user in following %}
            <div class="col-sm-12">
                <div class="row">
                    <div class="well">
                        <img class="img-circle" src="{% static "instaapp/img/30avatar.png" %}" alt="following avatar">
                        <span>{{user.following}}</span>
                        <button
                            data-user="{{user.following.id}}"
                            class="btn btn-primary pull-right btn-following">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span class="text">Following</span>
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% include 'instaapp/includes/foot.html' %}
<script src="{% static "instaapp/js/follow.js" %}"></script>
